@import '../../shared/shared';

.quantity-container {
  @include between-centered();
  width: 100%;
  border-radius: toRem(10);
  background: #f6f8fd;
  padding: toRem(16) toRem(32);
  margin-bottom: toRem(16);

  @media screen and (min-width: $two-xl) {
    width: 50%;
    margin: 0;
    margin-right: toRem(16);
  }
}

.quantity-control {
  @include centered();
  width: toRem(12);
  height: toRem(12);
  position: relative;
  border-radius: toRem(10);

  .horizontal,
  .vertical {
    position: absolute;
    width: toRem(12);
    height: toRem(3.5);
    background: #ff7e1b;
    box-shadow: toRem(0) toRem(20) toRem(50) -toRem(20) #ff7e1b;
  }

  .vertical {
    transform: rotateZ(90deg);
  }
}

.quantity {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: toRem(16);
  font-weight: 700;
  color: #1d2026;
}
