@import '../../shared/shared';

.list {
  width: 100%;
  list-style: none;
  @include centered();
  gap: toRem(32);
}

.item {
  width: toRem(88);
  height: toRem(88);
  border-radius: toRem(10);
  cursor: pointer;
  overflow: hidden;

  @media (hover: hover) {
    position: relative;
    border: 2px solid #0000;
    transition: border 0.3s ease-out;

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(255, 255, 255, 0);
      transition: background 0.3s ease-out;
    }

    &:hover {
      border: 2px solid #ff7e1b;

      &::after {
        background: rgba(255, 255, 255, 0.75);
      }
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
