@import '../../shared/shared';

.content {
  width: 100%;
  padding: toRem(24);

  @media screen and (min-width: $xl) {
    padding: 0;
    width: 50%;
  }
}

.title-orange {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: toRem(12);
  font-weight: 700;
  letter-spacing: toRem(1.846);
  color: #ff7e1b;
  text-transform: uppercase;
  margin-bottom: toRem(19);

  @media screen and (min-width: $two-xl) {
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: toRem(27);
  }
}

.title {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: toRem(28);
  font-weight: 700;
  color: #1d2026;
  line-height: toRem(32);
  margin-bottom: toRem(15);

  @media screen and (min-width: $two-xl) {
    font-size: 44px;
    line-height: 48px;
    margin-bottom: toRem(32);
  }
}

.desc {
  font-family: 'Kumbh Sans';
  font-size: toRem(15);
  font-weight: 400;
  line-height: toRem(25);
  color: #69707d;
  margin-bottom: toRem(24);

  @media screen and (min-width: $two-xl) {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: toRem(28);
  }
}

.price-section {
  @include between-centered();
  margin-bottom: toRem(24);

  @media screen and (min-width: $two-xl) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: toRem(32);
  }
}

.price-discount__container {
  @include centered();

  @media screen and (min-width: $two-xl) {
    margin-bottom: toRem(10);
  }
}

.price {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: toRem(28);
  font-weight: 700;
  color: #1d2026;
  margin-right: toRem(16);

  @media screen and (min-width: $two-xl) {
    font-size: 28px;
  }
}

.discount {
  color: #ff7e1b;
  font-family: 'Kumbh Sans';
  font-size: toRem(16);
  font-weight: 700;
  border-radius: toRem(6);
  background: #ffeee2;
  padding: toRem(4) toRem(8);
}

.undiscounted-price {
  font-family: 'Kumbh Sans';
  font-size: toRem(16);
  font-weight: 700;
  line-height: toRem(26);
  color: #b6bcc8;
  text-decoration: line-through;
}

.btn-actions {
  width: 100%;

  @media screen and (min-width: $two-xl) {
    @include display-flex();
  }
}

.cart-icon__container {
  width: toRem(18);
}

.add-to-cart {
  @include centered();
  width: 100%;
  font-family: 'Kumbh Sans';
  font-size: toRem(16);
  font-weight: 700;
  color: #fff;
  border-radius: toRem(10);
  background: #ff7e1b;
  box-shadow: toRem(0) toRem(20) toRem(50) toRem(-20) #ff7e1b;
  padding: toRem(18);
  gap: toRem(16);
  transition: background 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      background: #ffab6a;
    }
  }
}

// Desktop Image
.image-thumbnail__container {
  display: none;
  gap: toRem(32);
  width: 50%;

  @media screen and (min-width: $xl) {
    @include column-flex();
  }

  .image-container {
    @include display-flex();
    width: 100%;
    max-width: toRem(445);
    height: auto;
    border-radius: toRem(15);
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.thumbnail-container {
  width: 100%;
  max-width: toRem(445);
}
